<!---Header Includes File-->
<%- include('../includes/header.ejs') %> <%-
include('../includes/navigation-top.ejs') %>

<!---Start Modal Window-->
<div class="modal-backdrop hide-backdrop" id="acc-mgt-backdrop"></div>

<div class="modal-container hide-modal" id="acc-mgt-modal-container">
  <h4 class="modal-header" id="acc-mgt-modal-header">Add New Account</h4>
  <div class="input-container">
    <label class="lable" for="accountName">Account Name</label>
    <input
      class="input-field"
      id="accountName"
      name="accountName"
      type="text"
    />
  </div>

  <div class="input-container">
    <label class="lable" for="accountType">Account Type</label>
    <select
      class="input-field input-select"
      name="accountType"
      ,
      id="accountType"
    >
      <!--TODO: Need to generate dynamically -->
      <option value="Bank" selected>Bank</option>
      <option value="Cash">Cash</option>
      <option value="Receivables">Receivables</option>
      <option value="Credit Card">Credit Card</option>
      <option value="Loans">Loans</option>
    </select>
  </div>

  <div class="input-container">
    <label class="lable" for="openingData">Opening Date</label>
    <input
      id="openingDate"
      name="openingDate"
      type="date"
      class="input-field"
    />
  </div>

  <div class="input-container">
    <label class="lable" for="openingBalance">Opening Balance</label>
    <input
      id="openingBalance"
      name="openingBalance"
      type="text"
      class="input-field"
    />
  </div>

  <div class="input-container">
    <label class="lable" for="currentBalance">Current Balance</label>
    <input
      id="currentBalance"
      name="currentBalance"
      type="text"
      class="input-field"
    />
  </div>

  <div class="form-btn-container">
    <button class="form-btn cancel" id="form-cancel">Cancel</button>
    <button class="form-btn ok button-visible" id="add-account-submit-btn">
      Add Account
    </button>
    <button class="form-btn ok button-hidden" id="edit-account-submit-btn">
      Edit Account
    </button>
  </div>
</div>
<!--End Modal Window -->

<!--Defauld Screen -->
<div class="container">
  <% if ( formattedAccounts && formattedAccounts.length > 0) { %>
  <div class="table">
    <div class="table-header-container">
      <div class="table-header flex-2">Account Name</div>
      <div class="table-header flex-1 text-center">CM Opening Balance</div>
      <div class="table-header flex-1 text-center">Current Balance</div>
      <div class="table-header flex-1 text-center">CM Change</div>
      <div class="table-header flex-1 text-center">Actions</div>
      <div class="table-header flex-1"></div>
    </div>
    <div class="table-body-container">
      <% accountTypes.forEach(type => {%>
      <div class="table-subheader">
        <p><%=type%></p>
      </div>
      <% formattedAccounts.forEach((account, index, arr) => {%> <% if
      (account.accountType === type) {%>
      <div class="<%=index%2===0 ? 'table-row stripe' : 'table-row'%>">
        <div class="table-data flex-2"><%=account.accountName%></div>
        <div class="table-data flex-1 text-center positive">
          <%=account.openingBalance%>
        </div>
        <div class="table-data flex-1 text-center positive">
          <%=account.currentBalance%>
        </div>
        <div class="table-data flex-1 text-center">
          <button
            class="table-data-btn edit-account-btn"
            data-account-id="<%=account._id%>"
          >
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>
      <%}%> <%})%> <% }) %>
    </div>
  </div>
  <% } else { %>
  <div class="default-empty-container">
    <p class="default-empty-text">
      You have no account created yet, Click the button below to get started
    </p>
  </div>
  <% } %>
</div>
<!---Floating Action button-->
<div class="action-btn-container" id="add-account-action-button">
  <button class="action-btn">
    <i class="fas fa-plus"></i>
  </button>
</div>

<!---Navigation bottom include file-->
<%- include('../includes/navigation-bottom.ejs') %>

<!---Adding script files-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/helpers/app/handleAccModals.js"></script>

<!---Footer includes file-->
<%- include('../includes/footer.ejs') %>
