<!---Header Includes File-->
<%- include('../../includes/header.ejs') %> <%-
include('../../includes/navigation-top.ejs') %>

<!--Defauld Screen -->
<div class="attach-modal hide-modal" id="attach-modal">
</div>
<div class="container">
  <div class="table">
  <% if ( accounts && accounts.length > 0) { %>
  <table class="striped">
    <thead class="table-header">
      <tr>
          <th>Account Name</th>
          <th>CM Opening Balance</th>
          <th>Existing Balance</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% accountTypes.forEach(type => {%>
      <tr>
        <div><td><%=type%></div></td>
      </tr>
      <% accounts.forEach(account => {%> <% if (account.accountType === type)
      {%>
      <tr>
        <td><%=account.accountName%></td>
        <td><%=account.openingBalance%></td>
        <td><%=account.currentBalance%></td>
        <td>
          <a
            href="/app/edit-account/<%=account._id%>"
            ><i class="fas fa-edit"></i
          ></a>
        </td>
      </tr>
      <%}%> <%})%> <% }) %>
    </tbody>
  </table>
</div>
</div>
  <% } else { %>
  <div class="container">
    <div class="row">
      <h3>
        You have no account created yet, Click the button below to get started
      </h3>
    </div>
  </div>
  <% } %>

  <!---Floating Action button-->
  <div class="fixed-action-btn">
    <button
      onclick="handleModal.clickAddAccount(this)"
      class="btn-floating btn-large waves-effect waves-light red"
      ><i class="material-icons">add</i></button>
  </div>

<!---Navigation bottom include file-->
<%- include('../../includes/navigation-bottom.ejs') %>

<!---Footer Includes File-->
<%- include('../../includes/footer.ejs') %>
