<!---Header Includes File-->
<%- include('../../includes/header.ejs') %> <%-
include('../../includes/navigation-top.ejs') %>

<!---Start Modal Window-->
<div class="modal-backdrop hide-backdrop"></div>

<div class="modal-container hide-modal">
  <h4 class="modal-header">Add New Account</h4>
  <div class="form-container">
    <form id="add-account-form" action="/app/account/add" method="POST">
      <div class="row">
        <div class="input-field">
          <input
            class="validate"
            placeholder="Account Name"
            id="accountName"
            name="accountName"
            type="text"
          />
          <label for="accountName">Account Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <select name="accountType" , id="accountType">
            <!--TODO: Need to generate dynamically -->
            <option value="Bank" selected>Bank</option>
            <option value="Cash">Cash</option>
            <option value="Receivables">Receivables</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Loans">Loans</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input
            placeholder="Opening Date"
            id="openingDate"
            name="openingDate"
            type="text"
            class="datepicker col s12 validate"
          />
          <label for="openingData">Opening Date</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input
            placeholder="Opening Balance"
            id="openingBalance"
            name="openingBalance"
            type="text"
          />
          <label for="openingBalance">Opening Balance</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input
            placeholder="Current Balance"
            id="currentBalance"
            name="currentBalance"
            type="text"
          />
          <label for="currentBalance">Current Balance</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <select name="currency" id="currency">
            <!--TODO: Need to generate dynamically -->
            <option value="US Dollers" selected>US Dollers</option>
            <option value="Canadian Dollers">Canadian Dollers</option>
          </select>
          <label for="defaultCurrency">Default Currency</label>
        </div>
      </div>

      <div class="row">
        <div class="right-align">
          <button
            type="button"
            class="waves-effect waves-red red btn"
            id="form-cancel"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="waves-effect waves-geen btn add-account"
            id="add-account"
          >
            Add Account
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--End Modal Window -->



<!--Defauld Screen -->
<div class="container">
  <div class="table">
  <% if ( accounts && accounts.length > 0) { %>
  <table class="striped">
    <thead class="table-header">
      <tr>
          <th>Account Name</th>
          <th>CM Opening Balance</th>
          <th>Existing Balance</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% accountTypes.forEach(type => {%>
      <tr>
        <div><td><%=type%></div></td>
      </tr>
      <% accounts.forEach(account => {%> <% if (account.accountType === type)
      {%>
      <tr>
        <td><%=account.accountName%></td>
        <td><%=account.openingBalance%></td>
        <td><%=account.currentBalance%></td>
        <td>
          <a
            href="/app/edit-account/<%=account._id%>"
            ><i class="fas fa-edit"></i
          ></a>
        </td>
      </tr>
      <%}%> <%})%> <% }) %>
    </tbody>
  </table>
</div>
</div>
  <% } else { %>
  <div class="container">
    <div class="row">
      <h3>
        You have no account created yet, Click the button below to get started
      </h3>
    </div>
  </div>
  <% } %>

  <!---Floating Action button-->
  <div class="fixed-action-btn" id="add-account-action-button">
    <button
      class="btn-floating btn-large waves-effect waves-light red"
      ><i class="material-icons">add</i></button>
  </div>

<!---Navigation bottom include file-->
<%- include('../../includes/navigation-bottom.ejs') %>

<!---Footer Includes File-->
<%- include('../../includes/footer.ejs') %>
