<!---Header Includes File-->
<%- include('../../includes/header.ejs') %> <%-
include('../../includes/navigation-top.ejs') %>

<div class="container">
  <form
    method="POST"
    action="/app/edit-account/<%=account._id%>"
    class="col s10"
  >
    <h4 class="form-header">Edit Account</h4>
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Account Name"
          id="accountName"
          name="accountName"
          type="text"
          value="<%=account.accountName%>"
        />
        <label for="accountName">Account Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select name="accountType" , id="accountType">
          <
          <option value="<%=account.accountType%>" selected>
            <%=account.accountType%>
          </option>
          <!--TODO: Need to generate dynamically, without duplicating the selected option -->
          <option value="Bank">Bank</option>
          <option value="Cash">Cash</option>
          <option value="Receivables">Receivables</option>
          <option value="Credit Card">Credit Card</option>
          <option value="Loans">Loans</option>
        </select>
        <label for="accountType">Account Type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Opening Date"
          id="openingDate"
          name="openingDate"
          type="text"
          value="<%=account.openingDate%>"
          class="datepicker col s12"
        />
        <label for="openingData">Opening Date</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Opening Balance"
          id="openingBalance"
          name="openingBalance"
          type="text"
          value="<%=account.openingBalance%>"
        />
        <label for="openingBalance">Opening Balance</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Current Balance"
          id="currentBalance"
          name="currentBalance"
          type="text"
          value="<%=account.currentBalance%>"
        />
        <label for="currentBalance">Current Balance</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select name="currency" id="currency">
          <option value="<%=account.defaultCurrency%>" selected>
            <%=account.defaultCurrency%>
          </option>
          <!--TODO: Need to generate dynamically, without duplicating the selected option -->
          <option value="US Dollers">US Dollers</option>
          <option value="Canadian Dollers">Canadian Dollers</option>
        </select>
        <label for="defaultCurrency">Default Currency</label>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-green btn">Ok</button>
      <a href="/app/accounts" class="waves-effect waves-green btn">Cancel</a>
    </div>
  </form>
</div>

<!---Common Scripts for Selectors-->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>

<!---Navigation bottom include file-->
<%- include('../../includes/navigation-bottom.ejs') %>

<!---Footer Includes File-->
<%- include('../../includes/footer.ejs') %>
